body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(194, 210, 210);
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    color: #333;
    text-align: center;
}

/* Main Container */
.main-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #35ccf2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Tab Buttons */
.tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    background-color: #dddddd;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.active {
    background-color: rgb(99, 106, 236);
    color: white;
}

button:hover {
    background-color: #c4c4c4;
}

/* Tab Content */
.tab-content {
    padding: 20px;
}

/* Form Styles */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

textarea {
    resize: vertical;
}
